body{
    background-color: antiquewhite;
}
.lamp{
    background: rgb(135, 116, 93);
    border: 2px solid ;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px black;
}
.box{
    background: grey;
    position: relative;
    width: 400px;
    height: auto;
    border: 3px solid black;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    display: grid;
    aspect-ratio: 1;
    margin: auto;
}
.lightOn{
    background: yellow;
}
